/* Cascading Style Sheets properties: values; */

body {
  margin: 0;
  background-color: #1a659e;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #ffffff;
  width: 400px;
  padding: 32px;
  border-radius: 20px;
  text-align: center;
  border: 0.2rem solid rgba(28, 1, 1, 0.917);
}

h1 {
  color: #f7c59f;
  font-size: 30px;
  font-family: "Lato", sans-serif;
  margin-bottom: 0;
}
h1 i {
  font-size: 5.1rem;
}

p {
  color: #f7c59f;
  font-size: 22px;
  font-family: "Lato", sans-serif;
  margin-top: 8px;
}

img {
  width: 140px;
  height: 140px;
  border-radius: 9999px;
  border: 0.2rem solid rgba(28, 1, 1, 0.688);
}

a {
  margin: 1rem;
  font-size: 1.5rem;
}

a:link,
a:visited {
  text-decoration: none;

  color: black;
}

@media screen and (max-width: 600px) {
  body {
    align-items: stretch;
  }
  .card {
    background-color: #1a659e00;
    width: 400px;
    padding: 32px;
    border-radius: 20px;
    text-align: center;
    border: 0.2rem solid rgba(28, 1, 1, 0.917);
  }

  h1 {
    color: rgb(243, 141, 9);
    font-size: 2rem;
  }
  h1 i {
    font-size: 5.1rem;
  }

  p {
    color: aliceblue;
    font-size: 22px;
    font-family: "Lato", sans-serif;
    margin-top: 8px;
  }
}
